<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MotoCorp&nbsp;&#9410;</title>
    <link rel="icon" type="image/x-icon" href="../static/harley.ico">
    <link rel="stylesheet" href="../views/style.css">
</head>
<body>
    <div class="start">
        <img src="../static/1.gif">
        <h1>Let's Take Wild Ride.......</h1>
        <button onclick="window.location.href='/home'">Goo....</button>
    </div>
</body>
</html>